<div class="signup-form">
  
  <form class="signupForm" [formGroup]='signUpForm' (submit)="onSubmit()">
    <div class="formHeader">
         Sign Up 
    </div>
    <div  class="from-row">
    <mat-form-field> 
      first name
      <input matInput  formControlName="firstName" type="text">
      <mat-error *ngIf="signUpForm.get('firstName').hasError('required')">
          first name is required!
        </mat-error>
    </mat-form-field>
  </div>
<div  class="from-row">
    <mat-form-field> 
        last name
      <input matInput formControlName="lastName">
      <mat-error *ngIf="signUpForm.get('lastName').hasError('required')">
          last name is required!
        </mat-error>
        
    </mat-form-field>
  </div>
<div  class="from-row">
    <mat-form-field> 
        email Id
      <input matInput  formControlName="email">
      <mat-error *ngIf="signUpForm.get('email').hasError('required')">
          Email is required!
        </mat-error>
        <mat-error *ngIf="signUpForm.get('email').hasError('pattern')">
            Enter valid email address!
          </mat-error>
    </mat-form-field>
  </div>
<div  class="from-row">
    <mat-form-field> 
        password
      <input matInput  formControlName="password" type="password">
      <mat-error *ngIf="signUpForm.get('password').hasError('required')">
          password is required!
        </mat-error>
    </mat-form-field>
  </div>
  <div>
      <!-- <mat-form-field>  -->
          <button mat-button color="primary" class="btnSignup">signup</button>
        <!-- </mat-form-field> -->
  </div>
  </form>

</div>
