<div class="signupPage">
  <form class="signupForm" [formGroup]='signUpForm'>
    <div>
    <mat-form-field> 
      <input matInput placeholder="first name" formControlName="firstName" type="text">
      <mat-error *ngIf="signUpForm.get('firstName').hasError('required')">
          first name is required!
        </mat-error>
    </mat-form-field>
  </div>
<div>
    <mat-form-field> 
      <input matInput placeholder="last name" formControlName="lastName">
      <mat-error *ngIf="signUpForm.get('lastName').hasError('required')">
          last name is required!
        </mat-error>
    </mat-form-field>
  </div>
<div>
    <mat-form-field> 
      <input matInput placeholder="email Id" formControlName="email">
      <mat-error *ngIf="signUpForm.get('email').hasError('required')">
          Email is required!
        </mat-error>
    </mat-form-field>
  </div>
<div>
    <mat-form-field> 
      <input matInput placeholder="password" formControlName="password">
      <mat-error *ngIf="signUpForm.get('password').hasError('required')">
          password is required!
        </mat-error>
    </mat-form-field>
  </div>
  <div>
      <!-- <mat-form-field>  -->
          <!-- <button mat-button color="primary">Primary</button> -->
        <!-- </mat-form-field> -->
  </div>
  </form>

</div>
